@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Sofia');
@import url('https://fonts.googleapis.com/css?family=Aclonica');
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
@import url('https://fonts.googleapis.com/css?family=Mountains+of+Christmas');
@import url('https://fonts.googleapis.com/css?family=Aladin');
@import url('https://fonts.googleapis.com/css?family=Antic+Didone');
body
{
	
  /*  color: black;*/
    background-image: url('https://wallpapercave.com/wp/wp2757874.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
	
}
a{
	color: white;
}
a:hover{
	text-decoration: underline;
	color: white;
}
#brand-name
{
	font-family: 'Antic';
	font-weight: bold;

}
#section1,#section2,#section3,#section4
{
	/*color: black;*/
	text-align: center;
	color: white;
	font-family:'Antic Didone' ;
	font-weight: bold;
	font-size: 130%;
	padding-top: 5%;
	padding-bottom: 5%;

}


#brand-name
{

	color: white;
}

#myNavbar
{
	font-family: 'Sofia';
	font-size: 120%;
	font-weight: bold;
}
#copyright
{
	font-weight: bold;
	/*text-align: center;*/
}

#about-head
{
	padding-top: 2%;
}

.gallery
{
	width: 100%;
	opacity: 0.9;
}
.gallery:hover

{
	opacity: 1;
}
img
{
	width: 16%;
	height: auto;
}

span
{
	color: red;
	font-size: 135%;
}


#copyright
{
	font-weight: bold;
	text-align: center;
	text-shadow: hsl(1,2,3);
	
}
footer
{
	clear: both;
	text-align: center;
}
.heads
{
	font-family: "Sofia";
	font-size: 120%;
	padding-bottom: 2%;
	text-decoration: underline;
	color: white;
	font-weight: bold
}


@media screen and (max-width:350px) {
	img
	{
		width: 30%;
		height: auto;
	}
	figure > a > img
	{
		width: 100%;
		height: auto;
		padding-top: 5%;
	}
	#section1
	{
		padding-top: 20%;
	}
	h1
	{
		padding-top: 20%;
	}


}

@media screen and (max-width:500px) {

	img
{
	width: 30%;
	height: auto;
}
	figure > a > img
	{
		width: 100%;
		height: auto;
		padding-top: 5%;
	}
	#section1
	{
		padding-top: 20%;
	}
	h1
	{
		padding-top: 20%;
	}


}

@media screen and (max-width:768px) {

	img
{
	width: 50%;
	height: auto;
}
	figure > a > img
	{
		width: 100%;
		height: auto;
		padding-top: 5%;
	}
	#section1
	{
		padding-top: 20%;
	}
	h1
	{
		padding-top: 20%;
	}
	

}